body{
   margin: 0%;
   padding: 0%;
}

.columns{
    background-color: blue;
    height: 100px;
}

.column{
    margin: 30px;
    background-color: white;
    align-content: center;
    border-radius: 3px;
}